*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
}

.nav-logo {
    margin-left: 24px;
    font-weight: 600;
}

.nav-logo a{
    color: grey;
}
.nav-menu {
    margin-right: 24px;
    display: inline-flex;
}

.nav-menu a{
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
}


.banner {
    display: flex;
    padding: 32px 24px;
    background-color: rgb(195, 194, 194);
    width: 100%;
}

.banner-img {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.banner-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.banner-h1{
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(65, 65, 65);
}

.banner-p{
    color: rgb(65, 65, 65);
    font-size: 1.3rem;
    font-weight: 600;
}

.banner-btn {
    background-color: rgb(65, 65, 65);
    width: 85%;
    height: 8%;
}

.banner-btn a{
    font-size: 1.2rem;
}

.info-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-1{
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    padding: 32px 24px;
    border-right:2px solid #d3d3d3;
}



.info-2{
    display: inline-flex;
    /* border:1px solid black; */
    flex-direction: column;
    justify-content: space-around;
    width:40%;
}

.info-cards{
    display: inline-flex;
}

.info-img {
    width: 35%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.card-desc {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}











/* .row, .container-fluid {


.info-sidebar{
    padding-bottom: 32px;
}

.info-content {
    margin-left: 24px;
    margin-right: 24px;
}

.info-h1 {
    margin-bottom: 24px;
}

.info-p {
    padding-right: 1.6em;
    margin-bottom: 32px;
}

.info-cards{
    border-bottom: 1px solid #bfbdbd;
    border-top: 1px solid #bfbdbd;
    margin-bottom: 1px;
    padding: 16px;
}

.info-images {
    width: 
}

.span-banner{
    font-weight: bold;
}

.banner-content, .courses-content {
    background-color: #cfcece;
} */