*{
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    height: 64px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
}

.nav-logo {
    margin-left: 24px;
    font-weight: 600;
    /* display: inline-flex; */
}

.nav-logo a{
    color: grey;
}
.nav-menu {
    margin-right: 24px;
    display: inline-flex;
}

.nav-menu a{
    color: black;
    text-decoration: none;
    display: block;
    margin-left: 8px;
    margin-right: 8px;
}

.nav-mobile{
    display: none;
}



.banner {
    display: flex;
    padding: 32px 24px;
    background-color: #c3c2c2;
    width: 100%;
}

.banner-img {
    width: 60%;
    height: auto;
    margin-right: 24px;
}

.banner-content {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.banner-h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #414141;
}

.banner-p{
    color: rgb(65, 65, 65);
    font-size: 1.3rem;
    font-weight: 600;
}

.banner-btn {
    background-color: rgb(65, 65, 65);
    width: 85%;
    height: 8%;
}

.banner-btn a{
    font-size: 1.2rem;
}

.info-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.info-1{
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    padding: 32px 24px;
    border-right:2px solid #d3d3d3;
}


.info-2{
    display: inline-flex;
    flex-direction: column;
    margin-top: 1.2vw;
    margin-bottom: 32px;
    width:40%;
}

.info-cards{
    display: inline-flex;
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
}

.info-img {
    width: 35%;
    height: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.card-text{
    font-size: 1.3rem;
    font-weight: 500;
    color: #414141;
}
.card-desc {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.courses {
    background-color: #e3dfdf;
}

.course-available {
    margin: 32px 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.courses-mobile{
    display: none;
}
.card{
    width: 27vw;
    margin-bottom: 3vw;
}

.thesis-content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

footer{
    margin: 16px 24px;
}

@media only screen and (max-width:768px) {
    .nav-desktop{
        display: none;
    }

    .nav-mobile{
        display:flex;
        justify-content: space-around;
        width: 100%;
        height: 64px;
    }

    #nav-link-logo {
        height: 32px;
        width:auto;
    }

    .banner{
        padding:0;
        margin:0;
    }
    .banner-img{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        display: block;
    }

    .banner-content{
        display:block;
        /* not visible yet. Need to fix */
    }
    
    .info-1{
        display: none;
    } 

    .info-2{
        display: inline-flex;
        flex-direction: column;
        margin-top: 16px;
        margin-bottom: 0;
        width:100%;
    }

    .courses{
        display: none;
    }

    .courses-mobile{
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }

    .course-list-mobile{
        display: flex;
        flex-direction: column;
        padding: 16px 16px 32px;
    }
    .course-list-item{
        padding: 16px 0px 16px 16px;
        margin-bottom: 8px;
        background-color: #d3d3d3;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .thesis-content div.info-2{
        display: none;
    }

    .thesis-content div.info-1{
        display: block;
        width: 100%;
        padding: 0;
        margin:0;
    }

    .thesis-content p{
        display: none;
    }
}